<div class="section">
  {{#if movies.length}}
    <ul class="list-group">
      {{#each movies}}
        <li class="list-group-item">
          <a href="/movies/{{this._id}}">{{this.title}}</a>
        </li>
      {{/each}}
    </ul>
    <a href="/movies/create" class="btn btn-primary">Create a new movie</a>
  {{else}}
    <ul class="list-group">
      {{#each celebrities}}
        <li class="list-group-item">
          <a href="/celebrities/{{this._id}}">{{this.name}}</a>
        </li>
      {{/each}}
    </ul>
    <a href="/celebrities/create" class="btn btn-primary">Create a new celebrity</a>
  {{/if}}
</div>